# Virtual Environments
venv/
env/
.venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
alembic.ini

# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.log

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db
